:root {
  --myBlue: #14213d;
  --myCyan: #d7f9f1;
  --myYellow: #fca311;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 36px;
}

body {
  background-color: var(--myCyan);
}

.header {
  display: flex;
  padding: 20px;
  background-color: var(--myBlue);
  color: var(--myCyan);
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

#about,
#projects,
#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about h2,
#projects h2,
#contact h2 {
  flex: 0 0 20%;
  padding: 50px;
  height: 50px;
  border-right: 5px solid var(--myYellow);
}

#about p {
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
  margin-left: 20%;
}

footer ul {
  list-style-type: none;
  font-size: 30px;
  display: flex;
  margin-left: 25px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

img {
  height: 150px;
  width: 200px;
  margin: 20px;
}

#imagediv {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.primary {
  height: 100%;
  width: 100%;
  margin: 150px;
}

@media screen and (max-width: 992px) {
  #imagediv {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #imagediv {
    width: 100%;
  }
}
