:root {
  --myBlue: #14213d;
  --myCyan: #d7f9f1;
  --myYellow: #fca311;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--myCyan);
}

.header {
  display: flex;
  padding: 20px;
  background-color: var(--myBlue);
  color: var(--myCyan);
}

.header h1 {
  justify-content: flex-end;
  display: inline-block;
  font-size: 48px;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

.hero {
  background-image: url
    "https://images.unsplash.com/photo-1666688090267-4858c2075629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80";
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 300px;
}

#about,
#projects,
#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about h2,
#projects h2,
#contact h2 {
  flex: 0 0 20%;
  padding: 50px;
  height: 50px;
  border-right: 5px solid var(--myYellow);
}

#about p {
  margin: auto;
}

footer div a {
  display: inline-block;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  height: 150px;
  width: 200px;
  margin: 20px;
}

#imagediv {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
  height: 100%;
  width: 80%;
}

.primary {
  height: 400px;
  width: 600px;
  margin: 300px;
}
